@model PagedList.IPagedList<LibraryManageSys.Models.BorrowItem>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cancel Record";
}

<h2>Cancel Record </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Reader Name
        </th>
        <th>
            Status
        </th>
        <th>
            burrowTime
        </th>
        <th>
            borrowOper
        </th>
        <th>
            backOper
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book.bookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reader.readerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.burrowTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.borrowOper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.backOper)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.borrowId }) 
                @*@Html.ActionLink("Delete", "Delete", new { id = item.borrowId })*@
            </td>
        </tr>
    }
</table>
<br>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ShowCancelRecord", new { page }))
</div>