<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 图书管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Defined.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            @*@Html.Partial("ValidationSummary", ViewData.ModelState);*@
            @RenderBody()
        </div>
        <footer class="footer-wrapper">
            <p>Copyright &copy; @DateTime.Now.Year - 图书管理系统</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
