@model PagedList.IPagedList<LibraryManageSys.Models.Book>
@*@model IEnumerable<LibraryManageSys.Models.Book>*@
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/MainContentLayout.cshtml";
    ViewBag.Title = "图书管理";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <input type="hidden" name="search_field" id="search-field" value="title">
                            <button class="btn btn-default" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                查询
                            </button>
                        </div>
                        <input type="text" class="form-control" value=@ViewBag.keyword name="keyword" placeholder="请输入关键字">
                    </div>
                </form>
                <div class="toolbar-btn-action">
                    @Html.ActionLink("新增", "Create", new { }, new { @class = "btn btn-primary m-r-5 mdi mdi-plus", data_toggle = "modal", data_target = "#gridSystemModal" })
                    @Html.ActionLink("删除", "Delete", new { }, new { @class = "btn btn-danger m-r-5 mdi mdi-window-close" })
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" id="check-all"><span></span>
                                    </label>
                                </th>
                                <th>
                                    书名
                                </th>
                                <th>
                                    作者
                                </th>
                                <th>
                                    出版社
                                </th>
                                <th>
                                    @Html.ActionLink("图书类型", "Index", new { sortOrder = ViewBag.TypeSortParm, keyword = ViewBag.keyword })
                                </th>
                                <th>
                                    @Html.ActionLink("入库数量", "Index", new { sortOrder = ViewBag.AmountSortParm, keyword = ViewBag.keyword })
                                </th>
                                <th>
                                    @Html.ActionLink("现存数量", "Index", new { sortOrder = ViewBag.CurrAmountSortParm, keyword = ViewBag.keyword })
                                </th>
                                <th>
                                    @Html.ActionLink("添加时间", "Index", new { sortOrder = ViewBag.AddTimeSortParm, keyword = ViewBag.keyword })
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" name="ids[]" value="1"><span></span>
                                    </label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bookName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.publish)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.currAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.addTime)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        @Html.ActionLink("编辑", "Edit", new { id = item.bookId }, new { @class = "btn btn-sm btn-default mdi mdi-pencil", data_toggle = "modal", data_target = "#gridSystemModal" })
                                        @Html.ActionLink("查看", "Details", new { id = item.bookId }, new { @class = "btn btn-sm btn-default mdi mdi-eye", data_toggle = "modal", data_target = "#gridSystemModal" })
                                        @Html.ActionLink("删除", "Delete", new { id = item.bookId }, new { @class = "btn btn-sm btn-default mdi mdi-window-close", data_toggle = "modal", data_target = "#gridSystemModal" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="card-body">
                总计：@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, keyword = ViewBag.keyword }))
            </div>
        </div>
    </div>
</div>
