@model LibraryManageSys.Models.Reader

@{
    Layout = null;
    ViewBag.Title = "详情";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.readerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.readerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.phoneNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phoneNum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.balance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.balance)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.enableBorrowNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.enableBorrowNum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.createName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.createName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.createTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.createTime)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
