@model LibraryManageSys.Models.Reader

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reader</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.readerId)

        <div class="form-group">
            @Html.LabelFor(model => model.readerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.readerName)
                @Html.ValidationMessageFor(model => model.readerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.phoneNum)
                @Html.ValidationMessageFor(model => model.phoneNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.balance)
                @Html.ValidationMessageFor(model => model.balance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.enableBorrowNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.enableBorrowNum)
                @Html.ValidationMessageFor(model => model.enableBorrowNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createName, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.createName)
                @Html.ValidationMessageFor(model => model.createName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Editor_left">
                @Html.EditorFor(model => model.createTime)
                @Html.ValidationMessageFor(model => model.createTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
