@model LibraryManageSys.Models.Reader

@{
    Layout = null;
    ViewBag.Title = "编辑";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.readerId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.readerName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.readerName)
                            @Html.ValidationMessageFor(model => model.readerName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phoneNum, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.phoneNum)
                            @Html.ValidationMessageFor(model => model.phoneNum)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.Gender)
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.email)
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.balance, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.balance)
                            @Html.ValidationMessageFor(model => model.balance)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.enableBorrowNum, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.enableBorrowNum)
                            @Html.ValidationMessageFor(model => model.enableBorrowNum)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.createName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.createName)
                            @Html.ValidationMessageFor(model => model.createName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.createTime, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="Editor_left">
                            @Html.EditorFor(model => model.createTime)
                            @Html.ValidationMessageFor(model => model.createTime)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">点击保存</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
